@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Rubik:ital,wght@1,900&family=Shadows+Into+Light&display=swap');
body {
background: rgb(54,34,34);
background: linear-gradient(0deg, rgba(54,34,34,1) 0%, rgba(179,84,30,1) 25%, rgba(255,204,210,1) 100%);
  margin: 0px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.landingBody{
  height: 100vh;
  background-image: url("D:\HENRY\PI 3\PI-Dogs-main\client\src\styled components\pexels-gilberto-reyes-825949(1).jpg");
}

code {
  color: red;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container{
background-repeat: no-repeat;
height: 100vh;
background: rgb(179,84,30);
background: linear-gradient(180deg, rgba(179,84,30,1) 9%, rgba(255,204,210,1) 77%, rgba(255,237,237,1) 100%);
}

.dogsContainer{
  display: grid;
  grid-template-columns: 400px 400px 400px 400px;
  grid-template-rows: 600px 600px;
  column-gap: 30px;
  row-gap: 0px;
  justify-content: center;
  align-items: center;
}

.navBar{
  margin-right: 0px;
  padding: 0px;
  display: flex;
  width: 1900px;
}

.selected{
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  height: 50px;
  width: 1087px;
}

.selected select{
color: #FFCCD2;
font-family: 'Rubik', sans-serif;
font-size: 15px;
text-align: center;
flex-grow: 1;
height: 50px;
margin: 0px 1px;
width: 250px;
text-transform: uppercase;
border: none;
border-radius: 10px;
background-color: #362222;
cursor: pointer;
transition: all .4s ease;
box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

.selected select:hover {
background-color: #B3541E;
width: 350px;
}

.temperaments{
display: inline-block;
font-size: 20px;
width: 200px;
text-align: center;
}

.formSelect{
font-family: 'Rubik', sans-serif;
color: #FFCCD2;
font-size: 15px;
text-align: center;
height: 50px;
margin: 2px;
text-transform: uppercase;
border: none;
border-radius: 15px;
background-color: #362222;
cursor: pointer;
transition: all .2s ease;
}

.formSelect select:hover {
  background-color: #B3541E;
}

.formTemp{
  display: flex;
  width: 1000px;
  justify-content: center;
  margin: auto;

}

.divTemp{
display: flex;
flex-direction: column;
margin: 10px auto;
font-size: 10px;
height: 100px;
width: 150px;
font-size: 15px;
text-transform: uppercase;
border: none;
border-radius: 10px;
background-color: #362222;
box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

.botonX{
  font-weight: 500;
font-family: 'Rubik', sans-serif;
  height: 30px;
  margin-bottom: 10px;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: rgb(240, 29, 29);
}

input:focus{
  outline: none !important;
  border: 3px solid #FFCCD2;
}

a{
  text-decoration: none;
}

.tempBuble{
  margin: 10px auto;
  padding: 10px;
  background-color: #B3541E;
  border-radius: 15px;
}

.bubleContainer{
  align-content: center;
  margin-left: 25px;
  width: 350px;
  display: flex;
  flex-wrap: wrap;
}

